.app {
  margin-top: 15%;
}

.master-counter {
  font-size: 32px;
  text-align: center;
}

.clock {
  font-size: 26px;
  text-align: center;
}

.clock .clock-days,
.clock .clock-hours,
.clock .clock-minutes,
.clock .clock-seconds {
  display: inline;
  margin: 10px;
}

.clock-input {
  font-size: 20px;
  margin: 5px;
}
